html, body{
    font-family: 'Quicksand', sans-serif;
}

nav{
    position:absolute;  
    top: 20px;
    left: 20px;
    display: inline;
    text-transform: uppercase;
}

nav ul li{
    line-height: 30px;
    font-weight: 600;
    z-index: 999999;
}

.nav-header a, .breadcrumb a{
    color: rgb(133, 133, 133);
}

a.active{
    font-weight: bold;
    color: rgb(0, 0, 0);
}

ul{
    list-style: none;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb li+li:before {
    color: rgb(0, 0, 0);
    content: ">";
    padding-left: 10px;
    padding-right: 10px;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover{
    color: rgb(35, 201, 179);
}

header.cabecera{
    text-align: center;
}

.main, .actions-search, .actions-user, .actions-buy, .actions-list p{
    display: inline-block;
}

main article div{
    z-index: -1;
}

.actions{
    position: absolute;
    top: 20px;
    right: 20px;
}

.search-icon{
    /* Div padre del icono search */
    position: relative;
}

.search-icon img{
    position: absolute;
    top:0;
    left: 10px;
    width: 15px;
}

input#search{
    border: none;
    border-bottom: 1px solid rgb(29, 29, 29);  
    padding-left: 40px;
}

#user:before{
    display: inline-block;
    background-repeat: no-repeat;
    content:"";
    margin-right: 10px;
    background-image: url('./assets/user.svg');
    background-size: 20px;
    width: 20px; 
    height: 20px;
    margin-left: 10px;
}

#buy:before{
    display: inline-block;
    background-repeat: no-repeat;
    content:"";
    margin-right: 10px;
    background-image: url('./assets/shopping.svg');
    background-size: 20px;
    width: 20px; 
    height: 20px;
    margin-left: 10px;
}

.actions-list {
    text-align: end;
    margin-top: 20px;
}

.actions-list p, .actions-list a{
    margin-left: 5px;
    margin-right: 5px;
    text-transform: uppercase;
    font-size: 14px;
}



/* ---- Atículos ---- */

main article{
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    margin-left: 30px;
}

article img {
    width: 300px;
}

article .image{
    position: relative;
}

article span {
    position: absolute;
    bottom: 15px;
    left: 15px;
    background-color: rgb(255, 249, 241);
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 6px;
}

article .tittle{
    margin-top: 0;
    margin-bottom: 0;
}

article .price{
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
}

.hidden{
    visibility: hidden;
}



/* Section de descuentos - Newsletter */
#newsletter{
    border-top: 1px solid rgb(216, 216, 216);
    border-bottom: 1px solid rgb(216, 216, 216);
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
}

#discount{
    font-weight: bold;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 0;
}

#suscribe{
    font-weight: 100;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 30px;
}

input[type="email"]{
    border: none;
    border-bottom: 1px solid black;
    width: 40%;
    text-align: center;
    padding-bottom: 30px;
}

input::placeholder{
    font-weight: bold;
    color: rgb(46, 46, 46);
}


/* ---- Section Contacto ---- */

#contact{
    border-top: 1px solid rgb(216, 216, 216);
    border-bottom: 1px solid rgb(216, 216, 216);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#phone-contact{
    color: rgb(35, 201, 179);
}


#phone-contact:before{
    display: inline-block;
    background-repeat: no-repeat;
    content:"";
    margin-right: 10px;
    background-image: url('./assets/phone.svg');
    background-size: 20px;
    width: 20px; 
    height: 20px;
}


/* ---- Section footer ----*/

footer section{
    display: inline-block;
    vertical-align: top;
}

footer h4{
    margin-bottom: 40px;
    margin-left: 40px;
}

footer {
    line-height: 40px;
}

#facebook:before{
    display: inline-block;
    background-repeat: no-repeat;
    content:"";
    margin-right: 10px;
    background-image: url('./assets/facebook.svg');
    background-size: 20px;
    width: 20px; 
    height: 20px;
}

#twitter:before{
    display: inline-block;
    background-repeat: no-repeat;
    content:"";
    margin-right: 10px;
    background-image: url('./assets/twitter.svg');
    background-size: 20px;
    width: 20px; 
    height: 20px;
}

#pinterest:before{
    display: inline-block;
    background-repeat: no-repeat;
    content:"";
    margin-right: 10px;
    background-image: url('./assets/pinterest.svg');
    background-size: 20px;
    width: 20px; 
    height: 20px;
}

#instagram:before{
    display: inline-block;
    background-repeat: no-repeat;
    content:"";
    margin-right: 10px;
    background-image: url('./assets/instagram.svg');
    background-size: 20px;
    width: 20px; 
    height: 20px;
}

#youtube:before{
    display: inline-block;
    background-repeat: no-repeat;
    content:"";
    margin-right: 10px;
    background-image: url('./assets/youtube.svg');
    background-size: 20px;
    width: 20px; 
    height: 20px;
}

#spotify:before{
    display: inline-block;
    background-repeat: no-repeat;
    content:"";
    margin-right: 10px;
    background-image: url('./assets/spotify.svg');
    background-size: 20px;
    width: 20px; 
    height: 20px;
}

#visa:before{
    display: inline-block;
    background-repeat: no-repeat;
    content:"";
    margin-right: 10px;
    background-image: url('./assets/visa.png');
    background-size: 20px;
    width: 20px; 
    height: 20px;
}

#master:before{
    display: inline-block;
    background-repeat: no-repeat;
    content:"";
    margin-right: 10px;
    background-image: url('./assets/mastercard.png');
    background-size: 20px;
    width: 20px; 
    height: 20px;
}

#amex:before{
    display: inline-block;
    background-repeat: no-repeat;
    content:"";
    margin-right: 10px;
    background-image: url('./assets/amex.png');
    background-size: 20px;
    width: 20px; 
    height: 20px;
}

#affinity:before{
    display: inline-block;
    background-repeat: no-repeat;
    content:"";
    margin-right: 10px;
    background-image: url('./assets/affinity.png');
    background-size: 20px;
    width: 20px; 
    height: 20px;
}

#paypal:before{
    display: inline-block;
    background-repeat: no-repeat;
    content:"";
    margin-right: 10px;
    background-image: url('./assets/paypal.png');
    background-size: 20px;
    width: 20px; 
    height: 20px;
}

#giftcard:before{
    display: inline-block;
    background-repeat: no-repeat;
    content:"";
    margin-right: 10px;
    background-image: url('./assets/giftcard.png');
    background-size: 20px;
    width: 20px; 
    height: 20px;
}

#payment-store:before{
    display: inline-block;
    background-repeat: no-repeat;
    content:"";
    margin-right: 10px;
    background-image: url('./assets/pagotienda.png');
    background-size: 20px;
    width: 20px; 
    height: 20px;
}

#payment-discount:before{
    display: inline-block;
    background-repeat: no-repeat;
    content:"";
    margin-right: 10px;
    background-image: url('./assets/discount.png');
    background-size: 20px;
    width: 20px; 
    height: 20px;
}

#transfer:before{
    display: inline-block;
    background-repeat: no-repeat;
    content:"";
    margin-right: 10px;
    background-image: url('./assets/transferencia.png');
    background-size: 20px;
    width: 20px; 
    height: 20px;
}



/* ---- Section aside ---- */
aside{
    border-top: 1px solid rgb(216, 216, 216);
    text-align: center;
    margin-top: 50px;
}

aside div{
    display: inline-block;
    width: 20%;
    border-right: 1px solid rgb(216, 216, 216);
    margin-top: 20px;
}

aside div p{
    font-weight: 600;
}

aside div > p{
    margin-bottom: 40px;
}

#ios::before{
    display: inline-block;
    background-repeat: no-repeat;
    content:"";
    margin-right: 10px;
    background-image: url('./assets/ios.svg');
    background-size: 20px;
    width: 20px; 
    height: 20px;
}

#android::before{
    display: inline-block;
    background-repeat: no-repeat;
    content:"";
    margin-right: 10px;
    background-image: url('././assets/android.svg');
    background-size: 20px;
    width: 20px; 
    height: 20px;
}
